* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-----HEADER-----*/

.container_header {
  height: 100vh;
  background-color: #123259;
}

.list_container {
  width: 80%;
  height: 70px;

  margin: auto;
  position: relative;
}


/*.nav_cont.row_left {
  width: 60%;
  height: 70px;
  background-color: orange;
  float: left;
}
.nav_cont.row_right {
  width: 40%;
  height: 70px;
  background-color: white;
  float: left;
}*/

#logo {
  margin-top: 10px;
}

ul {

  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 25px;
}

ul li {
  display: inline-block;
  padding-right: 10px;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform:uppercase;
  font-size: x-small;
}

#nav_empty_space {
  color: rgba(255, 0, 0, 0);
}


.button {
  height: 20px;
  border: white solid 1px;
  padding: 3px 13px;
  border-radius: 5px;
}

.button.green {
  background-color: green;
  border: green solid 1px;
}
