* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

/*-----HEADER-----*/

.container_header {
  height: 100vh;
  background-color: #123259;
}

/*-----NAV-----*/

.list_container {
  width: 80%;
  height: 70px;
  margin: auto;
  position: relative;
}

#logo {
  margin-top: 10px;
}

ul {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 25px;
}

ul li {
  display: inline-block;
  padding-right: 10px;
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform:uppercase;
  font-size: x-small;
}

#nav_empty_space {
  color: rgba(255, 0, 0, 0);
}

.button {
  height: 20px;
  border: white solid 1px;
  padding: 3px 13px;
  border-radius: 5px;
}

.button.green {
  background-color: #64e08a;
  border: #64e08a solid 1px;
}

/*----- JAMBO-----*/

.img_jambo {
  width: 100%;
  height: 700px;
  background-image: url("../img/background-header.png");
  background-size: cover;
  background-size: 1200px;
  background-position: 300% 100%;
  background-repeat: no-repeat;
}

.jamb_conteiner {
  width: 80%;
  height: 100%;
  margin: auto;
  position: relative;
}

.container_text {
  width: 60%;
  position: absolute;
  bottom: 250px;
}

.img_jumbo {
  width: 100%;
  height: 700px;
}

h1 {
  color: #fff;
  font-size: 50px;
  padding-bottom: 50px;
}

.bt_jambo {
  height: 20px;
  padding: 15px 13px;
  border-radius: 5px;
  background-color: #64e08a;
  border: #64e08a solid 1px;
}

/*-----HEADER GREY ROW-----*/

.row_grey {
  width: 100%;
  height: 200px;
  background-color: lightgrey;
}

.text_grey_row {
  width: 80%;
  margin: auto;
  text-align: center;
}

.title_grey_first_section {
  padding-top: 60px;
}

.p_grey_first_section {
  margin-top: 10px;
  color: grey;
  font-size: small;
}

/*-----MAIN-----*/

.main_container {
  width: 100%;
  height: 100vh;

}

/*-----FIRST COLUMN----*/

.row:after {
  content: "";
  display: table;
  clear:both;
}

.row {
  margin: auto;
  padding-top: 30px;
  width: 80%;

}

[class^="col-"] {
  float: left;
  padding: 0 15px;
}

.col- {
  width: calc(100% / 3);
  height: 500px;

}

/*-----CONTENTS COLUMNS----*/

.cont_img_small.first {
  width: 250px;
  height: 200px;
  background-image: url("../img/profile.svg");
  background-size: cover;
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 50% 70%;
}

.cont_img_small.second {
  width: 250px;
  height: 200px;
  background-image: url("../img/computer.svg");
  background-size: cover;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: 57% 65%;
}

.cont_img_small.third {
  width: 250px;
  height: 200px;
  background-image: url("../img/doc.svg");
  background-size: cover;
  background-size: 170px;
  background-repeat: no-repeat;
  background-position: 30% 70%;
}


.green_p {
  color: #64e08a;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
}

.small_line {
  border: lightgrey solid 1px;
  width: 20%;
  margin: auto;

}

.text_column {
  color: grey;
  text-align: center;
  font-size: small;
  padding-top: 20px;
  padding-bottom: 10px;
}

hr {
  border: lightgrey solid 1px;
  width: 90%;
  margin: auto;

}

/*-----SECOND COLUMN----*/

.col-.five {
  width: 50%;
}

.img_mountain {
  width: 370px;
  height: 500px;
  background-image: url("../img/mountain.svg");
  background-size: cover;
  background-size: 370px;
  background-repeat: no-repeat;
  background-position: 40% 40%;
}

.text_mountain {
  color: black;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
}

.text_mountain.bottom {
  color: grey;
  font-size: small;
  padding-bottom: 10px;

}

.last_link {
  text-decoration: underline;
  text-transform: none;
  color: blue;
  font-size: x-small;
}

/*-----FOOTER----*/

.text_grey_row {
  width: 80%;
  margin: auto;
  position: relative;
}

.struttura {
  text-align: left;
}

.lista_finale {
  padding-top: 25px;
}
